<!-- <ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header no-border>
  <ion-toolbar color="cruz-primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Productos
    </ion-title> -->
    <ion-searchbar mode="ios" placeholder="Nombre del producto..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="verCarrito()"> <!--routerLink="/carrito"-->
        <ion-icon slot="icon-only" name="cart" [color]="colorCarrito"></ion-icon><ion-label [color]="colorCarrito">{{contadorCarrito || '' }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="12"> -->
        <!-- <ion-searchbar mode="ios" placeholder="Nombre del producto..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar> -->
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->


</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Refrescar..."
      refreshingSpinner="bubbles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid >
    <ion-row >
      <ion-col class="ion-no-padding" *ngFor="let item of items | filtro: textoBuscar : 'descripcion'" size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card button (click)="verItem(item)">
          <ion-img *ngIf="item.file_name == null" src="/assets/img/logocruzazul.jpg"></ion-img>
          <ion-img *ngIf="item.file_name != null" src="http://localhost:8000/img/items/{{item.file_name}}.{{item.file_extension}}"></ion-img>

          <ion-card-content>
            <ion-text color="primary">
              {{ item.descripcion }}
            </ion-text>
            <ion-card-title> <p> c/u: {{ item.precio | currency :'USD':'symbol':'2.2-2' }}</p> </ion-card-title>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of items" size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card >
          <ion-img *ngIf="item.file_name == null" src="/assets/img/logocruzazul.jpg"></ion-img>
          <ion-img *ngIf="item.file_name != null" src="http://localhost:8000/img/items/{{item.file_name}}.{{item.file_extension}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>
              {{ item.descripcion }}
            </ion-card-subtitle>

            <ion-card-title>
              c/u: $ {{ item.precio }}
            </ion-card-title>

          </ion-card-header>

          <ion-card-content>
            <ion-button color="cruz-primary" expand="full" (click)="verItem(item)">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->



</ion-content>


<!--
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-list #listaProductos>


          <ion-item-sliding *ngFor="let item of items">

            <ion-item >
              <ion-label>
                <h3>{{ item.descripcion }}</h3>
                <p>[{{ item.cantidad }}]</p>
              </ion-label>
              <ion-label slot="end" text-rigth>$ {{ item.precio }}</ion-label>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option color="cruz-primary" (click)="verItem(item)">
                <ion-icon slot="icon-only" name="heart"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->
