<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="cruz-primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none"  routerLink="/usuario" >
      <ion-icon color="cruz-primary" slot="start" name="create"></ion-icon>
      <ion-label>Cuenta </ion-label>
    </ion-item>
    <ion-item lines="none"  routerLink="/ubicacion" >
      <ion-icon color="cruz-primary" slot="start" name="pin"></ion-icon>
      <ion-label>Ubicacion </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="cerrarSesion()">
      <ion-icon color="cruz-primary" slot="start" name="exit"></ion-icon>
      <ion-label>Cerrar Sesion </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
