<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()">Ingresar</ion-button>
    </ion-buttons>
    <!-- <ion-title>inicio</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12"></ion-col>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12">
        <ion-img src="/assets/img/conejo.svg"></ion-img>
      </ion-col>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-text color="primary">
              <p>p: The quick brown fox jumps over the lazy dog</p>
            </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-button routerLink="/register" expand="full" color="primary" >Registrarse</ion-button>
  </ion-toolbar>
</ion-footer>