<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-buttons slot="end">
      <ion-button color="cruz-primary" (click)="startApp()">Ingresar</ion-button>
    </ion-buttons> -->
    <!-- <ion-title>inicio</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container">
    <ion-img src="/assets/img/logocruzazul.jpg"></ion-img>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12"><br><br><br><br></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" size-lg="3" size-md="4" size-sm="4" size-xs="1"></ion-col>
      <ion-col size="8" size-lg="6" size-md="4" size-sm="4" size-xs="10">
        <ion-img src="/assets/img/logocruzazul.jpg"></ion-img>
      </ion-col>
      <ion-col size="2" size-lg="3" size-md="4" size-sm="4" size-xs="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><br><br><br><br></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" color="cruz-primary" (click)="startApp()">Ingresar</ion-button>
        <ion-text color="cruz-primary"> 
          <a routerLink="/register" > <p>Crea una Cuenta</p> </a>
        </ion-text>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- <ion-footer no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer> -->