<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="startApp()">Ingresar</ion-button>
    </ion-buttons>
    <!-- <ion-title>inicio</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-img src="/assets/img/conejo.svg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-tabs>
      <ion-tab-bar>
          <ion-button expand="block" fill="outline" >Registrarse</ion-button>
          <!-- <ion-button expand="block" fill="outline" >Ingresar</ion-button> -->
      </ion-tab-bar>
    </ion-tabs>

  </ion-grid>
</ion-content>
