p{
    text-align: center;
}

ion-content {
    background-image: url("/src/assets/img/conejo.png");
    -webkit-background-image: url("/src/assets/img/conejo.png");
}


.container{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}