<!-- <ion-header>
  <ion-toolbar>
    <ion-title>usuario</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="cruz-primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/configuracion"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/img/user_0.png" />
    </ion-avatar>
    <ion-label>{{formUsuario.get('_name').value}} : {{ formUsuario.get('_email').value}} </ion-label>
    <!-- <ion-label>:{{usuario.email}}</ion-label> -->
  </ion-item>

</ion-header>


<ion-content>

  
  <ion-grid>

    <form [formGroup]="formUsuario" >
      <ion-item>
        <ion-label position="stacked" color="cruz-primary">nombre:</ion-label>
        <ion-input formControlName="_name" placeholder="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="cruz-primary">email:</ion-label>
        <ion-input formControlName="_email" placeholder="email" type="email" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="cruz-primary">cédula:</ion-label>
        <ion-input formControlName="_cedula" placeholder="cédula" type="tel" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="cruz-primary">celular:</ion-label>
        <ion-input formControlName="_celular" placeholder="celular" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="cruz-primary">password:</ion-label>
        <ion-input formControlName="_password2"  placeholder="clave" [type]="inputType"></ion-input>
        <!-- <ion-label ></ion-label> -->
        <ion-buttons slot="end">
          <ion-button (click)="verPassword()">
            <ion-icon slot="icon-only" name="eye" [color]="newcolor"></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>
    </form>
    
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" color="cruz-primary">nombre:</ion-label>
          <ion-input [(ngModel)]="usuario.name" placeholder="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="cruz-primary">email:</ion-label>
          <ion-input [(ngModel)]="usuario.email" placeholder="email" type="email" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="cruz-primary">cédula:</ion-label>
          <ion-input [(ngModel)]="usuario.cedula" placeholder="cédula" type="tel" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="cruz-primary">celular:</ion-label>
          <ion-input [(ngModel)]="usuario.celular" placeholder="celular" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="cruz-primary">password:</ion-label>
          <ion-input [(ngModel)]="usuario.password2" placeholder="clave" [type]="inputType"></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="verPassword()">
              <ion-icon slot="icon-only" name="eye" [color]="newcolor"></ion-icon>
            </ion-button>
          </ion-buttons>
          
        </ion-item>
      </ion-col>
    </ion-row> -->

  </ion-grid>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-button type="submit" expand="full" (click)="editar()" [disabled]='formUsuario.invalid'>Editar</ion-button>
  </ion-toolbar>
</ion-footer>
