<ion-header no-border>
  <ion-toolbar>
    <ion-title>Ubicacion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar placeholder="Lugar" inputmode="email" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar> -->

</ion-header>

<ion-content >
    <input type="hidden" id="search">
  <div id="map_modal"></div> 

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
    <ion-button expand="full" color="cruz-primary" (click)="guardarUBi()">Guardar Ubicación</ion-button>
  </ion-toolbar>
</ion-footer>