<ion-header no-border>
  <ion-toolbar>
    <ion-title>Ubicacion</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-back-button icon="arrow-back" [defaultHref]="null"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="salir()" color="cruz-tertiary" expand="full">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="guardarUBi()" color="cruz-primary" expand="full" >
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>