<ion-header no-border>
  <ion-toolbar >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form #frmLogin="ngForm" >
    
    <ion-grid>
      <ion-row>
          <ion-col size="12"><br><br><br><br></ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="4"></ion-col>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="4">
          <ion-img src="/assets/img/logocruzazul_logo.png"></ion-img>
        </ion-col>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="4"></ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>

            <ion-list>
              
              <ion-list-header>
                  <ion-col size="4"></ion-col>
                  <ion-col size="4">
                    <ion-img src="/assets/img/logocruzazul_logo.png"></ion-img>
                  </ion-col>
                  <ion-col size="4"></ion-col>
              </ion-list-header>
              <ion-item lines="none"></ion-item>

              <ion-item>
                <ion-label position="floating">email:</ion-label>
                <ion-input  required name="email" type="email" [(ngModel)]="usuario.email" 
                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">password:</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
              </ion-item>
          
            </ion-list>           

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-text color="cruz-primary"> 
            <a routerLink="/register" > <p>Crea una Cuenta</p> </a>
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <!-- <ion-button (click)="schedule()">
      Click me
    </ion-button> -->
    <ion-button color="cruz-primary" (click)="login()" type="submit" expand="full" [disabled]="frmLogin.invalid">Ingresar</ion-button>
  </ion-toolbar>
</ion-footer>