// ion-content{
//     --ion-background-color:rgb(56, 52, 107);
// }

p{
    text-align: center;
}

ion-content{
    div{
        height: 50% !important;
        text-align: center;
        img{
            max-height: 100px;
            max-width: 100px;
            padding-top: auto;
        }
    }  
}

ion-item{
    ion-label{
        color: var(--ion-color-cruz-primary);
    }
    ion-input{
        color: var(--ion-color-cruz-tertiary);
    }
}
