<ion-header no-border >
  <ion-toolbar >
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #frmRegister="ngForm" (ngSubmit)="login()">

    <ion-grid>
      <ion-row>
        <ion-col>

            <ion-list>
              <!-- <img src=""  alt=""> -->
              <ion-list-header>
                <ion-avatar>
                  <ion-img src="/assets/img/logocruzazul.jpg"></ion-img>
                </ion-avatar>
                
                <!-- <ion-label>frmLogin Valido {{frmLogin.valid}}</ion-label> -->
              </ion-list-header>

              <ion-item>
                <ion-label position="floating" color="primary">nombre:</ion-label>
                <ion-input  required name="name" type="text" [(ngModel)]="usuario.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">email:</ion-label>
                <ion-input  required name="email" type="email" [(ngModel)]="usuario.email" 
                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">cédula:</ion-label>
                <ion-input  required name="cedula" type="text" [(ngModel)]="usuario.cedula"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">celular:</ion-label>
                <ion-input  required name="celular" type="text" [(ngModel)]="usuario.celular"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">password:</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
              </ion-item>
          
            </ion-list>

            
            <!-- <ion-button type="submit" expand="full" [disabled]="frmLogin.invalid">Enviar</ion-button> -->
                      

        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        
        <ion-button expand="full" (click)="register()" [disabled]="frmRegister.invalid">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>