<ion-header no-border >
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="cédula" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="celular" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="clave" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-tabs>
      <ion-tab-bar>
          <ion-button expand="block" fill="outline">Registrar</ion-button>
      </ion-tab-bar>
    </ion-tabs> -->


  </ion-grid>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" >Registrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>