<ion-header no-border >
  <ion-toolbar >
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <div class="container">
    <img width="118 px !important" height="115 px !important" src="/assets/img/logocruzazul_logo.png" alt="">
  </div> -->

  <form #frmRegister="ngForm" (ngSubmit)="register()">

    <ion-grid>

      <!-- <ion-row>
        <ion-col  size-lg="5" size-md="5" size-sm="4" size-xs="1"></ion-col>
        <ion-col  size-lg="2" size-md="2" size-sm="4" size-xs="10">
          <ion-img  src="/assets/img/logocruzazul_logo.png"></ion-img>
        </ion-col>
        <ion-col  size-lg="5" size-md="5" size-sm="4" size-xs="1"></ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>

            <ion-list>
              
              <ion-list-header style="height: 118 px !important">
                <ion-col  size-lg="5" size-md="5" size-sm="5" size-xs="4"></ion-col>
                <ion-col size-lg="2" size-md="2" size-sm="2" size-xs="4">
                  <ion-img  src="/assets/img/logocruzazul_logo.png"></ion-img>
                </ion-col>
                <ion-col  size-lg="5" size-md="5" size-sm="5" size-xs="4"></ion-col>
              </ion-list-header>

              <ion-item>
                <ion-label position="floating" color="cruz-primary">nombre:</ion-label>
                <ion-input  required name="name" type="text" [(ngModel)]="usuario.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="cruz-primary">email:</ion-label>
                <ion-input  required name="email" type="email" [(ngModel)]="usuario.email" 
                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="cruz-primary">cédula:</ion-label>
                <ion-input  required name="cedula" type="text" [(ngModel)]="usuario.cedula"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="cruz-primary">celular:</ion-label>
                <ion-input  required name="celular" type="text" [(ngModel)]="usuario.celular"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="cruz-primary">password:</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="usuario.password"></ion-input>
              </ion-item>

            </ion-list>

            
            <!-- <ion-button type="submit" expand="full" [disabled]="frmLogin.invalid">Enviar</ion-button> -->
                      

        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

  <!-- <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <h1>Awesome Slide Content</h1>
    </ion-slide>
    <ion-slide>
      <h1>Awesome Slide Content</h1>
    </ion-slide>
  </ion-slides> -->


</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        
        <ion-button expand="full" (click)="register()" [disabled]="frmRegister.invalid">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>