#centrador{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: red;
}

.imagen{
    position: absolute;;
    width: 118 px !important;
    height: 115 px !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

ion-img img{
    width: 118 px !important;
}