<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="cruz-primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
  
  <!-- <ion-searchbar placeholder="Buscar..."></ion-searchbar> -->

</ion-header>

<ion-content>
  <!-- <ion-grid> -->
    <ion-row>
      <ion-col>

        <ion-list #listaCarrito>
      
          <ion-item-sliding *ngFor="let item of items">
            <!-- datos del item -->
            <ion-item >
              <ion-text color="cruz-primary">
                {{ item.producto.descripcion }} : [{{ item.cantidad }}]
              </ion-text>
              <ion-text slot="end" color="cruz-tertiary">
                {{ item.subtotal | currency :'USD':'symbol':'2.2-2' }}
              </ion-text>
            </ion-item>
            <!-- Opciones del item -->
            <ion-item-options side="start">
              <ion-item-option color="cruz-primary" (click)="verItem(item)">
                <ion-icon slot="icon-only" name="clipboard"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option color="cruz-tertiary" (click)="eliminar(item)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
      
          </ion-item-sliding>
      
        </ion-list>
        

      </ion-col>
    </ion-row>
    
  <!-- </ion-grid> -->

</ion-content>

<ion-footer no-border *ngIf="items.length > 0">
  <ion-toolbar>

    <!-- <ion-grid > -->
      <ion-row>
        <ion-col size="12">
          <ion-button color="cruz-primary" expand="full" (click)="escojerUbicacion()">
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>
            Realizar Pedido
          </ion-button>
        </ion-col>
      </ion-row>
    <!-- </ion-grid> -->

    <!-- <ion-title>Footer</ion-title> -->
  </ion-toolbar>
</ion-footer>