<!-- <ion-header>
  <ion-toolbar>
    <ion-title>miscompras</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header no-border>
  <ion-toolbar color="cruz-primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis Compras
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment #segmentoCompras (ionChange)="segmentChanged($event)" color="cruz-primary">
      <ion-segment-button value="pedidos" class="ion-no-padding">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="en_proceso" class="ion-no-padding">
        <ion-label>En Proceso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finalizados" class="ion-no-padding">
        <ion-label>Finalizadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-list #ListaCompras>
      
          <ion-item-sliding *ngFor="let item of items | filtroRelacion: textoBuscar :'estado':'cod'">
            <!-- datos del item -->
            <ion-item >
              <ion-text color="cruz-primary">
                {{item.fecha}} <!--[{{ item.estado.descripcion }}]--> 
              </ion-text>
              <ion-text slot="end" color="cruz-tertiary">
                {{ item.total | currency :'USD':'symbol':'2.2-2'  }}
              </ion-text>
            </ion-item>
            <!-- Opciones del item -->
            <ion-item-options side="start">
              <ion-item-option color="cruz-primary" (click)="verItem(item)">
                <ion-icon slot="icon-only" name="clipboard"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <!-- <ion-item-options side="end">
              <ion-item-option color="cruz-tertiary" (click)="eliminar(item)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options> -->
      
          </ion-item-sliding>
      
        </ion-list>
        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
