<ion-header no-border>
  <ion-toolbar>
    <ion-title>ubicacion</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Lugar" inputmode="email" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>

</ion-header>

<ion-content >
    
  <div id="map"></div> 

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
    <ion-button expand="full" color="primary" (click)="onClick()">Guardar Ubicación</ion-button>
  </ion-toolbar>
</ion-footer>